

<div class="card-body col-md-6 container">

    <div class="row" style="margin-top: 30%;">
        <div class="text-right mt-2" style="margin-left:250px">

            <a dashbuttonasp-area="Admin" asp-controller="Category" asp-action="List" class="dashbutton" style="vertical-align:middle; border-radius: 12px;margin-left: 10px;"><span>Kategotileri listele</span> </a>

            <a asp-area="Admin" asp-controller="Category" asp-action="Add" class="dashbutton" style="margin-left: 10px;vertical-align:middle; border-radius: 12px;"><span>Kategori Ekle</span></a>
        </div>
    </div>

</div>
<div class="card-body col-md-6 container">

    <div class="row">
        <div class="text-right mt-2" style="margin-left:250px">

            <a asp-area="Admin" asp-controller="Food" asp-action="List" type="submit" class="dashbutton" style="margin-left: 10px;vertical-align:middle; border-radius: 12px;"><span>Yemekleri  listele</span></a>

            <a asp-area="Admin" asp-controller="Food" asp-action="NewFood" type="submit" class="dashbutton" style="margin-left: 10px;margin-left: 10px;vertical-align:middle; border-radius: 12px;"><span>Yemek Ekle</span></a>
        </div>
    </div>

</div>